body
{
background-color:dodgerblue;
}

.h1
{
	color: white;
	font-size: 45px;
	letter-spacing: 10px;
	margin-top: 80px;

}
.h1 img
{
	width: 80px;margin-left: -15px;
}

.logindiv
{
	background: rgba(255,255,255,0.8);
}
#button
{
	width: 80%;border-radius: 15px;
	background-color: blue;
	color: whitesmoke;
}
html, body
{
  height: 100%;
  margin: 0;
}



.header
{
	color: white;
	font-size: 45px;
	letter-spacing: 10px;
	margin-top: 80px;
}
.header img
{
	width: 80px;margin-left: -15px;
}

.login_div
{
	background: rgba(255,255,255,0.8);
}

#login_button
{
	width: 80%;border-radius: 15px;
}

.room_name
{
	cursor: pointer;
	font-size: 20px;
}


#logout
{
	font-size: 20px; float: right;
}
